.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5%;
}

.header div a {
    color: white;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container {
    display: flex;
    flex-wrap: nowrap;
}

.container .link {
    width: 20%;
    background: #ccc;
    padding: 15px;
}

.link a {
    gap: 50px;
    color: blue;
    text-decoration: none;
    margin-left: 45%;
}

.container .text {
    width: 40%;
}

.container.ads {
    width: 20%;
}